html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* STYLING */

html {
    font-size: 125%;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: #3b3b3b;
    background-color: #a08c8c;
    scroll-behavior: smooth;
}

.wrapper {
    margin: 0 auto;
    max-width: 1260px;
    width: 90%;
}

button {
    font-size: clamp(0.8rem, 1vw, 1rem);
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    color: #3b3b3b;
}

button:hover,
button:focus {
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}

nav ul a,
footer span a {
    position: relative;
    display: inline-block;
}

nav ul a::before,
footer span a::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 0.5px;
    background: #3b3b3b none repeat scroll;
    transition: width .6s ease;
}

nav ul a:hover::before,
nav ul a:focus::before,
footer span a:hover::before,
footer span a:focus::before {
    width: 100%;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

h1,
h2,
h3,
li {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: clamp(01rem, 7vw, 1.5rem);
    /* need to add this back in later as it's commented out */
}

h2 {
    font-size: clamp(1rem, 6vw, 1.2rem);
    margin: 35px 0;
    text-decoration: underline;
    font-weight: 400;
}

h3 {
    font-size: clamp(0.9rem, 3vw, 1rem);
    margin: 25px 0;
    font-weight: 400;
}

p,
li {
    font-size: clamp(0.75rem, 2vw, 0.85rem);
}

.logo {
    width: 30%;
    margin: 0 auto;
    margin-top: 60px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.nav-menu li {
    padding: 20px 15px 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* HOME LANDING PAGE */

.landing {
    position: relative;
}

.landing img {
    object-fit: contain;
}

.enter {
    position: absolute;
    top: 35%;
    left: 50%;
    margin: 0 auto;
    padding: 0;
    transform: translate(-50%, -50%);
    width: 120px;
    color: #3b3b3b;
    background-color: #a08c8c;
}

.enter img {
    transition: 0.3s all ease-in-out;
}
.enter img:hover {
    transform: translateY(-6px);
}

.enter:focus {
    outline: none;
}

/* ABOUT PAGE */

.bio-container {
    display: flex;
}

.bio-container li {
    margin: 0 10px;
    width: calc((100% / 3) - 20px);
}

.bio-text {
    font-size: 0.8rem;
}

.values {
    list-style: circle;
    padding-left: 20px;
}

/* CONTACT PAGE */

.contact-message {
    margin-bottom: 45px;
}

.contact-container {
    display: flex;
}

.contact-container img,
.contact-container form {
    width: 50%;
}

.contact-container img {
    border-radius: 15px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
}

input {
    width: 100%;
}

select,
input,
textarea {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    margin: 8px;
}

button {
    width: 35%;
    background-color: white;
}

.submit {
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    transition: 0.7s ease-in-out;
}

.submit:hover {
    letter-spacing: 0.8px;
}

/* ERROR PAGE */
.back-home {
    font-weight: 500;
    text-decoration: underline;
}


/* FOOTER */

footer {
    position: relative;
    height: 35vh;
}

.footer {
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-bottom: 15px; */
}